*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url('../images/fondo-principal2.webp') no-repeat center center fixed;
    background-size: cover;
}

.navbar{
    display: flex;
    justify-content: space-between;
    color: #1F48FF;
    align-items: center;
    padding: 1rem 0;
    background: transparent;
    backdrop-filter: blur(8px);
    border-bottom: #1F48FF 2px solid;
}

.nav-container{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    width: 100%;
    align-items: center;
}

.logo{
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-toggle{
    display: none;
    flex-direction: column;
    gap: 4px;
    background: none;
    padding: 4px;
    cursor: pointer;
}

.nav-toggle span{
    width: 25px;
    height: 3px;
    background-color: #000000;
    border-radius: 2px;
    display: block;
}

.nav-menu{
    display: flex;
    list-style: none;
    gap: 4rem;
    margin: 0 auto;
}

.nav-menu li a{
    text-decoration: none;
    color: #fff;

    background-image: url('../images/huesillo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 130px;
    height: 60px;
    display: flex;             
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.nav-menu li a:hover{
    transform: scale(1.1);
    filter: brightness(1.1);
}

main{
   width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: block;
}
h3{
    text-align: center;
    color: #1F48FF;
    margin-bottom: 2rem;
}

